<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Livro</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Livros</strong>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-sm table-striped table-hover table-bordered">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nome</th>
							<th>Autor</th>
							<th>Classificação</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="livro : ${livros}">
							<td th:text="${livro.id}"></td>
							<td th:text="${livro.nome}"></td>
							<td th:text="${livro.nomeAutor}"></td>
							<td th:text="${livro.classificacao}"></td>
							<td>
								<div class="btn-group pull-right">
							   		<a class="btn btn-sm btn-primary" th:href="@{/editlivro/{id}(id=${livro.id})}" >Editar</a>
							   		<a class="delete btn btn-sm btn-danger" th:href="@{/deletelivro/{id}(id=${livro.id})}">Excluir</a>
							   </div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel-footer">
			<a class="btn btn-sm btn-success" th:href="@{/addlivro/}" >Adicionar</a>
			<a th:href="@{/}" class="btn btn-sm btn-default">Voltar</a>
		</div>
	</div>
</body>
</html>